{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/landlord_player" method="post">
        Enter players' names:
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="landlord1" name="player1" placeholder="player1" type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="landlord2" name="player2" placeholder="player2" type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="landlord3" name="player3" placeholder="player3" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

{% endblock %}