{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<!-- dffdfvgfrsdfgresdfg -->
<form action="/mah_jong" method="post">

        <div class="mb-3">


            <!-- <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Landlord" type="text"> -->
            Select winner:
            <select name = 'winner'>
                <option>{{player1}}</option>
                <option>{{player2}}</option>
                <option>{{player3}}</option>
                <option>{{player4}}</option>
            </select>
        </div>
        <!-- <div class="mb-3"> -->
            <!-- <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="number"> -->
            Win / Lose:
            <select name = 'method'>
                <option>other</option>
                <option>self</option>

            </select>

            Select loser:
            <select name = 'loser'>
                <option>{{player1}}</option>
                <option>{{player2}}</option>
                <option>{{player3}}</option>
                <option>{{player4}}</option>
            </select>
        <!-- </div> -->
        <div class="mb-3">
            <!-- <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="number"> -->
            <!-- Number of bombs: -->
                Number of fans:
                <input name = 'num_fan' class="form-control mx-auto w-auto" id="password" name="password" placeholder="No. of fan" type="number" step="1" value="3">

        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
</form>

<div class = 'section'>

    <h2>Total score</h2>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <!-- <th>{{date}}</th> -->
                <!-- <th>Index</th> -->
                <th>{{player1}}</th>
                <th>{{player2}}</th>
                <th>{{player3}}</th>
                <th>{{player4}}</th>
            </tr>
        </thead>
        <tbody>

                <tr>

                    <td>{{total_score[0]['tot1']}}</td>
                    <td>{{total_score[0]['tot2']}}</td>
                    <td>{{total_score[0]['tot3']}}</td>
                    <td>{{total_score[0]['tot4']}}</td>
                </tr>

        </tbody>
    </table>




<div class="section">

    <h2>The Scores</h2>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <!-- <th>{{date}}</th> -->
                <!-- <th>Index</th> -->
                <th>{{player1}}</th>
                <th>{{player2}}</th>
                <th>{{player3}}</th>
                <th>{{player4}}</th>
            </tr>

        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for i in range(scores | length) %}
                <tr>
                    <!-- <td>{{ scores[i]['id'] }}</td> -->
                    <td>{{ scores[i][player1] }}</td>
                    <td>{{ scores[i][player2] }}</td>
                    <td>{{ scores[i][player3] }}</td>
                    <td>{{ scores[i][player4] }}</td>
                    <td>
                        <form action="/mah_jong" method="post">
                            <input name="id" type="hidden" value="{{ scores[i].id }}">
                            <input type="submit" value="Deregister">
                        </form>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
